@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.primary-btn {
  background-color: hsl(228, 67%, 18%);
  padding: 9px 20px;
  border-radius: 8px;
}